<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>7ㅣ엽죠? 물기전까진</title>
    <link rel="stylesheet" href="/views/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class="bi me-2" src="../contents/icon.png" width="40" height="32" alt="icon" />
          <span class="fs-4"><strong>7ㅣ엽죠</strong></span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis"><strong>Mypage</strong></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis"><strong>Logout</strong></a>
          </li>
        </ul>
      </header>
    </div>

    <!-- 검색창 -->
    <div class="input-group w-25 container">
      <div class="align-self-center"><strong>Career&nbsp&nbsp</strong></div>
      <select class="form-select form-select-lg" aria-label="Default select example">
        <option selected>All</option>
        <option value="3">3개월</option>
        <option value="6">6개월</option>
        <option value="12">12개월</option>
      </select>
      <div class="align-self-center"><strong>&nbsp&nbsp이상</strong></div>
      <div class="mx-4"></div>
      <div class="align-self-center"><strong>Animal&nbsp&nbsp</strong></div>
      <select class="form-select form-select-lg" aria-label="Default select example">
        <option selected>All</option>
        <option value="dog">dog</option>
        <option value="cat">cat</option>
        <option value="others">others</option>
      </select>
      &nbsp&nbsp&nbsp&nbsp
      <button class="btn btn-dark" type="button">Search</button>
    </div>
    
    <!-- 예약 전체보기 -->
    <div class="container my-4">
      <div class="d-flex flex-wrap justify-content-center py-3 border">
        <a href="/" class="d-flex align-items-center m-4 me-md-auto link-body-emphasis text-decoration-none">
          <img class="bi m-2 mx-5" src="../contents/dog.png" width="150" alt="dog" />
          <div class="fs-4">
            <P class="h2"><strong>정창일 </strong><strong class="h3">sitter</strong></P>
            <p class="mt-2">comment : <strong class="h5"><strong>강형욱보다 잘할걸요?</strong></strong></p> 
          </div>
        </a>
        <a href="/" class="d-flex align-items-center m-4 me-md-auto link-body-emphasis text-decoration-none">
          <div href="/" class="m-4 align-self-center me-auto text-decoration-none">
            <div class="fs-3">
              <P class="h4">Career<strong class="h3"><strong> 10</strong>  month</strong></P>
              <P class="h4">Animal<strong class="h3"><strong> Dog</strong></strong></P>
              <P class="h4">Grades<strong class="h3"><strong> 5.0</strong></strong></P>
            </div>
          </div>
        </a>
        <a href="/" class="d-flex align-items-center m-4 me-md-auto link-body-emphasis text-decoration-none">
        <div href="/" class="m-4 align-self-center me-auto text-decoration-none">
          <div class="fs-3 text-center">
            <P class="h4 text-black"><strong>예약하기</strong></P>
          </div>
        </div>
        </a>
      </div>
      <div class="container my-2">
        <div class="row border">
          <div class="col-sm-7 mx-5 my-3 h5"><strong>김영우 : </strong>많이 물렸어도 별로 불평을 안하셨어요 다음에 또 이용할게요</strong></div>
          <div class="col-sm m-3 h5"><strong>Rate : </strong>5.0</strong></div>
        </div>
      </div>
      <div class="container my-2">
        <div class="row border">
          <div class="col-sm-7 mx-5 my-3 h5"><strong>권유진 : </strong>얼굴이 비호감이었어요</strong></div>
          <div class="col-sm m-3 h5"><strong>Rate : </strong>2.0</strong></div>
        </div>
      </div>
      <div class="container my-2">
        <div class="row border">
          <div class="col-sm-7 mx-5 my-3 h5"><strong>이정훈 : </strong>개를 잘 못다루시는듯</strong></div>
          <div class="col-sm m-3 h5"><strong>Rate : </strong>3.0</strong></div>
        </div>
      </div>
    </div>

            <!-- 마무리 -->
            <div class="d-flex justify-content-center align-items-center">
              <div>
                <a href="/views/html/index.html" class="btn btn-outline-dark m-3" role="button">모든시터보기</a>
              </div>
            </div>


    <!-- Footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="gitHub 주소">
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Node 3기 6조 "7ㅣ엽죠"</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="https://github.com/visitor17564/arewecute" aria-label="gitHub 주소">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                />
                </svg
            ></a>
          </li>
        </ul>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
