<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>7ㅣ엽죠? 물기전까진</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script type="module" src="/js/pet-sitter-by-id.js"></script>
    <script type="module" src="/js/logout.js"></script>
    <script type="module" src="/js/reservation.js"></script>
  </head>
  <body>
    <!-- Header -->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/html/index-pet-sitter.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img class="bi me-2" src="../contents/icon.png" width="40" height="32" alt="icon" />
          <span class="fs-4"><strong>7ㅣ엽죠</strong></span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/html/index-pet-sitter.html" class="nav-link px-2 link-body-emphasis"><strong>Home</strong></a>
          </li>
          <li id="myPageDiv" class="nav-item">
            <a href="/html/mypage.html" class="nav-link px-2 link-body-emphasis"><strong>Mypage</strong></a>
          </li>
          <li id="logoutDiv" class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis"><strong>Logout</strong></a>
          </li>
          <li id="loginDiv" class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis" data-bs-toggle="modal" data-bs-target="#logInModal"><strong>Login</strong></a>
          </li>
          <li id="signupDiv" class="nav-item">
            <a href="#" class="nav-link px-2 link-body-emphasis" data-bs-toggle="modal" data-bs-target="#signUpModal"><strong>SignUp</strong></a>
          </li>
        </ul>
      </header>
    </div>

    <!-- 검색창 -->
    <div class="input-group w-25 container">
      <div class="align-self-center"><strong>Career&nbsp&nbsp</strong></div>
      <select class="form-select form-select-lg" aria-label="Default select example">
        <option selected>All</option>
        <option value="3">3개월</option>
        <option value="6">6개월</option>
        <option value="12">12개월</option>
      </select>
      <div class="align-self-center"><strong>&nbsp&nbsp이상</strong></div>
      <div class="mx-4"></div>
      <div class="align-self-center"><strong>Animal&nbsp&nbsp</strong></div>
      <select class="form-select form-select-lg" aria-label="Default select example">
        <option selected>All</option>
        <option value="dog">dog</option>
        <option value="cat">cat</option>
        <option value="others">others</option>
      </select>
      &nbsp&nbsp&nbsp&nbsp
      <button class="btn btn-dark" type="button">Search</button>
    </div>
    
    <!-- 펫시터 정보보기 -->
    <div class="wrapPetSitter"></div>
    <!-- 펫시터 리뷰보기 -->
    <div id="reviews" class="container my-4"></div>

    <!-- 마무리 -->
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <a href="/html/index-pet-sitter.html" class="btn btn-outline-dark m-3" role="button">모든시터보기</a>
      </div>
    </div>


    <!-- 예약 모달 -->
    <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form class="auth-wrapper">
            <div class="text-center">
              <h3 class="mb-3 font-weight-normal"><strong>예약하기</strong></h3>
            </div>
            <div class="m-3">
              <label for="exampleUserName" class="form-label">Reservation Date</label>
              <input type="date" class="form-control" id="exampleUserName" aria-describedby="nameHelp">
            </div>
            <div class="m-3">
              <label for="exampleRegion" class="form-label">Your Pet</label>
              <input type="text" class="form-control" id="exampleRegion" aria-describedby="regionHelp">
            </div>
            <div class="m-3">
              <label for="exampleRegion" class="form-label">Comment</label>
              <input type="text" class="form-control" id="exampleRegion" aria-describedby="regionHelp">
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <button type="submit" class="btn btn-outline-dark m-3">뒤로가기</button>
              </div>
              <div>
                <button type="submit" id="reservationButton" class="btn btn-outline-dark m-3">예약하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="gitHub 주소">
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Node 3기 6조 "7ㅣ엽죠"</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-body-secondary" href="https://github.com/visitor17564/arewecute" aria-label="gitHub 주소">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg>
          </a>
            </li>
        </ul>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
